:root{
    --bg_color: #262626;
    --header_color: #004080;
    --shadow_color: black;
    --tb_color: #737373;
    --header_width: 675px;
}

body{
    background-color: var(--bg_color);
    color: white;
}

header{
    width: var(--header_width);
    min-width: var(--header_width);
    position: relative;
    left: 0;
    text-align: left;
    margin-top: 50px;
    padding: 5px 0 10px 0;
}

h1{
    font-size: 4em;
    padding-left: 10%;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
}

.full{
    width: 100vw;
}

.right{
    float: right;
    width: 50vw;
}

.left{
    float: left;
    width: 50vw;
}

#picture{
    height: 500px;
    right: 20px;
    bottom: -60px;
    padding: 30px;
}

#head_para{
    background: var(--header_color);
    box-shadow: 12px 10px var(--shadow_color);
    /* Skew */
    -webkit-transform: skew(-50deg);
    -moz-transform: skew(-50deg);
    -o-transform: skew(-50deg);
    transform: skew(-50deg) translate(-80px);
 }

 #rev_head_para{
    /*Reverse Skew*/
    -webkit-transform: skew(50deg);
    -moz-transform: skew(50deg);
    -o-transform: skew(50deg);
    transform: skew(50deg) translate(80px);
}

.subhead_pr{
    width: 500px;
    position: relative;
    margin-top: 30px;
    font-size: 2em;
    background: var(--header_color);
    box-shadow: -8px 8px var(--shadow_color);
    /* Skew */
    -webkit-transform: skew(50deg);
    -moz-transform: skew(50deg);
    -o-transform: skew(50deg);
    transform: skew(50deg) translate(80px);
}

.rev_subhead_pr{
    padding: 5px 0px 5px 0;
    /*Reverse Skew*/
    -webkit-transform: skew(-50deg);
    -moz-transform: skew(-50deg);
    -o-transform: skew(-50deg);
    transform: skew(-50deg) translate(-80px);
}

.textbox{
    margin: 30px 30px 0 30px;
    padding: 10px;
    color: black;
    background-color: var(--tb_color);
    box-shadow: 0px 0px 15px 2px black;
}
